.link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.link:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
    color: black;
    /* Example active color */
}